.taglist {


  &__content {
    display: flex;

    &__circle{
      width: 30px;
      height: 30px;
      background: #EEE37C;
      border-radius: 43px;
      margin-right: 10px;
    }
    &__text{

      font-style: normal;
      font-weight: normal;
      font-size: 18px;

      width: 140px;
      height: 30px;

      background-color: #222A8B;
      border-radius: 19px;
      opacity:1;

      cursor: pointer;
      padding: 0;
      border: none;
      color: white;

      transition: all 0.4s ease 0s;
      &:hover{
        background-color: rgba(34, 42, 139, 0.38);

        text-decoration: none;

      }

    }
  }
}
