<div class="main">

  <ng-container *ngIf="mode!=4 && mode!=5">
<app-navigation  (setModeChage)="onModeChange($event)" [mode]="mode" ></app-navigation>
<app-content *ngIf="isloaded" (updateCont)="update_Contact($event)" (addnewCont)="add_Contact($event)" (removeCont)="remove_Contact($event)" (setModeChage)="onModeChange($event)" [mode]="mode" [contacts]="contacts" ></app-content>
<!--<app-contact-profile></app-contact-profile>-->
  </ng-container>

  <ng-container *ngIf="mode==4">
    <app-signin (log)="onLog($event)"  (setModeChage)="onModeChange($event)"></app-signin>
  </ng-container>
  <ng-container *ngIf="mode==5">
    <app-signup  (setModeChage)="onModeChange($event)"></app-signup>
  </ng-container>
</div>

