.navigation {
  position: fixed;
  left: 0;
  &__container {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__box {
    width: 212px;
    height: 100vh;
    background: #222A8B;

    &__line {
      margin-top: 60.5px;
      width: 211.5px;
      border: 2px solid #FFFFFF;

    }
    &__addbutton{
      cursor: pointer;
      margin: 21.5px auto 0 auto;
      position: center;
      width: 180px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;

      border: 1px solid rgba(0, 207, 243, 0.27);
      box-sizing: border-box;
      border-radius: 10px;

      button{
        width: 180px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        opacity:1;

        padding: 0;
        border: none;
        font: inherit;background-color: white;
        font-size: 20px;

        transition: all 0.4s ease 0s;
        &:hover{
         // background-color: rgba(0, 20, 141, 0.02);
          background-color: rgba(34, 42, 139, 0.38);
          text-decoration: none;
        }
      }

    }
    &__contactsButton{
      cursor: pointer;
      margin: 21.5px auto 0 auto;
      position: center;
      width: 211px;
      height: 41px;


      display: flex;
      justify-content: center;
      align-items: center;
      background: white ;

      box-sizing: border-box;




      button{
        cursor: pointer;
        color: black;
        background-color: rgb(255, 255, 255);
        opacity:1;
        width: 211px;
        height: 41px;
        padding: 0;
        border: none;
        font: inherit;
        font-size: 20px;

        transition: all 0.4s ease 0s;
        &:hover{
          background-color: rgba(34, 42, 139, 0.38);
          text-decoration: none;

        }
      }
    }
    &__tags{
      width: 211px;
      //width: 130px;
      display: flex;
      margin: 0 auto;
      color: white;
      margin-top: 20px;
      justify-content: center;
      align-items: center;

    }

  }
}
