

<ng-container *ngIf="index==0">
<div class="signinblock">
  <input #inputLoginRef class = "signinblock__input" type="text" placeholder="put login">
  <input #inputPassRef class = "signinblock__input" type="text" placeholder="put password">
  <input #inputEmailRef class = "signinblock__input" type="text" placeholder="put email">
  <input #inputNicknameRef class = "signinblock__input" type="text" placeholder="put nick_name">

  <button (click)="make_condirm()" class="signinblock__button"> Signin</button>

</div>
</ng-container>

<ng-container *ngIf="index>0">

  <div class="signinblock">
    <input #confirmref class = "signinblock__input" type="text" placeholder="put code pls">
    <button (click)="chageMode_to_SingIN()" class="signinblock__button"> Confirm</button>

  </div>


</ng-container>



