.signinblock{
  margin-left: 15px;
  width: 1350px;
  height: 300px;
  //background-color: #FFB3B3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__input{
    input{
      padding: 0;
    }

    input::-moz-placeholder { color: black; }
    input::-webkit-input-placeholder { color: gray; }

    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 267px;
    height: 30px;

    border-radius: 45px;

    color: black;
    font-size: 14px;
    outline: 0;
    outline-offset: 0;
    position: relative;
    border:none;
    background-color:  #E9EDFD;
    margin-bottom: 20px;

  }

  &__button{
    width: 150px;
    height: 30px;
    margin-bottom: 20px;


    border-radius: 19px;
    opacity: 1;

    background-color: #222A8B;
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: white;
    font-size: 20px;

    transition: all 0.4s ease 0s;

    &:hover {
      background-color: rgb(9, 46, 86);
      text-decoration: none;

    }
  }
}
