.bar{
  margin-left: 372px;
  margin-top: 10px;
  width: 987px;
  height: 40px;
  display:flex;
position: relative;
  &__search{
    input::-moz-placeholder { color: white; }
    input::-webkit-input-placeholder { color: white; }
    width: 766px;
    height: 40px;
    color: white;
    font-size: 20px;
    outline: 0;
    outline-offset: 0;
    position: relative;

    background: #222A8B;
    border-radius: 35px;
    padding: 0 15px;
    border:none;

    &__icon{
      cursor: pointer;
      width: 30px;
      height: 40px;
      background: #222A8B;

      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      font-size: 20px;
      color: white;

    }
  }
  &__userbar{
    margin-left: 60px;

    width: 160px;
    height: 40px;

    background: #222A8B;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__circle{

      align-items: center;



      width: 25px;
      height: 25px;

      background: mediumseagreen;
      border-radius: 12.5px;
    }
    &__text{
      margin-left: 16px;
      color: white;

    }
  }
}
