

<div class="menu__contacts__block__tag" [style.background-color]="tag_col"  >
  <div class="menu__contacts__block__tag__text">
    {{contact.name | titlecase}} {{contact.surname | titlecase}}
  </div>
</div>
<div class="menu__contacts__block__details">
  <div class="menu__contacts__block__details__adress">

    <i class="fas fa-map-marker-alt"></i>
    <a href="https://www.google.com/maps/place/{{contact.adress}}">{{adress_tittle}}</a>


  </div>

  <div class="menu__contacts__block__details__webSite">
    <i class="fas fa-globe"></i>
    <!--          {{contacts.social_page_link[0].social_page_url}}-->
    <a href="{{contact.social_page_link[0].social_page_url}}">{{social_tittle}}</a>
  </div>
  <div class="menu__contacts__block__details__mail">
    <i class="fas fa-envelope"></i>
    <a href="mailto:{{envelope_tittle}}">{{envelope_tittle}}</a>
  </div>
  <div class="menu__contacts__block__details__phone">
    <i class="fas fa-phone"></i>
    <a href="tel:{{contact.phone_number[0].phone}}"> {{contact.phone_number[0].phone}} </a>
  </div>
  <div class="menu__contacts__block__details__buttons">
    <button (click)="chageMode_to_VIEW()" href="" class="menu__contacts__block__details__buttons__buttonsee">More</button>
    <button (click)="remove_Contact()" href="" class="menu__contacts__block__details__buttons__buttondelete">Delete</button>
  </div>
</div>


















